#{extends 'main.html' /}
#{set title:'Donation Request' /}
<section class="ui inverted red segment">

<nav class="ui inverted menu">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
		<a class="ui active item" href="/donate"><i class="dollar icon"></i>Make Donation</a>
		<a class="ui item" href="/renderReport"><i class="browser icon"></i>Report</a>  
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<input id="progress" value="${pro}" style="visibility:hidden">

<section class="ui section" id="work" >

  <h1>Welcome ${user.firstName}</h1>

  <h3>Please give generously...</h3>
  <form class="ui form" action="/donates" method="POST" onsubmit="return checkAllConditions();" >
    <div class="ui four column grid">
      <div class="column"> 
        <div class="ui selection dropdown">
		  <input name="amountDonated" id="amount" type="hidden">
			<div class="text">Amount</div>
			<i class="dropdown icon"></i>
			  <div class="menu"  >
				<div class="item" data-value="100" >$100</div>
		        <div class="item" data-value="500">$500</div>
		        <div class="item" data-value="1000">$1000</div>
			  </div>
		</div> 
      </div>  
    </div>
    <p></p>
    <div class="column" >      
      <div class="ui radio checkbox">
       <input type ="radio" name="methodDonated" value="paypal" checked="checked">
       <label for="Paypal">Paypal</label>
      </div>
      <div class="ui radio checkbox" >
        <input type ="radio" name="methodDonated" value="direct">
        <label for="direct">Direct</label>
      </div>
    </div> 
     <p></p>
     <button class="ui black submit button" >Donate</button> 
     <div class="ui error message" style="width:25%"></div>     
  </form> 
  <h3 style="color:white">Amount target achieved</h3>
</section>

<section class="ui section" style="display:none" id="full">
    <div class="ui center aligned huge header" style="align:center; color:white">Target Reached.</div>
    <div class="ui center aligned medium header" style="align:center; color:white">Thank you for your support.</div>
</section>

 <div class="ui blue successful progress" style="border: 2px solid black">
    <div class="bar" style="width:${progress}"></div>
 </div>
  
<script src="/public/javascripts/donation.js" type="text/javascript" charset="utf-8"></script>


</section>