#{extends 'main.html' /}
#{set title:'Donation Request' /}
<section class="ui inverted red segment">

<nav class="ui inverted menu">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
		<a class="ui item" href="/donate"><i class="dollar icon"></i>Make Donation</a>
		<a class="ui active item" href="/renderReport"><i class="browser icon"></i>Report</a> 
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<table class="ui very basic celled table"
			style="border: 5px ridge black" width="100%">
			<thead style="background-color: black; border: 1px solid red">
				<tr>
					<th width="25%"><section class="ui inverted red segment">Donors</section></th>
					<th width="25%"><section class="ui inverted red segment">Amount</section></th>
					<th width="25%"><section class="ui inverted red segment">Method Donated</section></th>
					<th width="25%"><section class="ui inverted red segment">Date donated</section></th>
				</tr>
			</thead>
			<tbody>
				#{list items:donations, as:'donation'}
				<tr>
					<td style="background-color: white">${donation.from.firstName}&nbsp${donation.from.lastName}</a></td>
					<td style="background-color: white">${donation.received}</td>
					<td style="background-color: white">${donation.methodDonated}</td>
					<td style="background-color: white">${donation.donatedAt}</td>
				</tr>
				#{/list}
			</tbody>
		</table>