#{extends 'main.html' /} #{set title:'Welcome' /}
<section class="ui inverted red segment">
<nav class="ui inverted menu">
		<a class="ui active item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
		<a class="ui item" href="/donate"><i class="dollar icon"></i>Make Donation</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>


<section class="ui two column grid ">
  
  <section class="ui column">
    
    <h1 style="color:blue">Welcome</h1>
    
  
    <h3>Homer for President.</h3>
    
    <h3 style="color:blue">Time for a change.</h3>
    
    <h3>Out with the old.</h3>
    
    <h3 style="color:blue">In with the Homer.</h3>
    
    <h3>
      <a  href="/signup" style="color:white; text-decoration:underline">Register</a> or <a class="ui item" href="/login" style="color:white; text-decoration:underline">sign in</a>
    </h3>
    
    <h3 style="color:blue">
      We look forward to your generous contribution.
    </h3>
    
  </section>
  <section class="ui column" >
    <img style="border:5px double silver" width=100% src="/public/images/homer.gif" >
  </section>
</section>
</section>