#{extends 'main.html' /} #{set title:'Login to Spacebook' /}

<section class="ui inverted red segment">
<nav class="ui inverted menu">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign Up</a> 
		<a class="ui  active item" href="/login"><i class="sign in icon"></i>Log In</a>
		<a class="ui item" href="/donate"><i class="dollar icon"></i>Make Donation</a> 
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>
<section class="ui segment">
	<p>Log-in</p>
</section>
<section class="ui form segment">
	<form action="/authenticate" method="POST">
		<div class="field">
			<label> Username: </label> <input type="text" name="email">
		</div>
		<div class="field">
			<label> Password: </label> <input type="password" name="password">
		</div>
		<button class="ui black submit button">Login</button>
	</form>
</section>
</section>