#{extends 'main.html' /} #{set title:'Signup for Spacebook' /}

<section class="ui inverted red segment">

<nav class="ui inverted menu">
		<a class="ui item" href="/"><i class="home icon"></i>Home</a> 
		<a class="ui active item" href="/signup"><i class="edit icon"></i>Sign Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
		<a class="ui item" href="/donate"><i class="dollar icon"></i>Make Donation</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui segment">
	<form action="/register" method="POST">
	  <div class="ui checkbox">
		<input type="checkbox" id="usCitizen" name="USACITIZEN">
			<label for="usCitizen">Tick to confirm you are a citizen of the USA</label>
	  </div>
			<div class="ui two column grid">
			  <div class="ui column">
			    <div class="ui fluid form segment">
			      <h3 class="ui header">Sign Up</h3>
			      <div class="two fields">
			        <div class="field">
			          <label>First Name</label>
			          <input placeholder="First Name" id="firstName" name ="firstName" type="text">
			        </div>
			        <div class="field">
			          <label>Last Name</label>
			          <input placeholder="Last Name" id="lastName" name ="lastName" type="text">
			        </div>
			      </div>
			      <div class="field">
			          <label>Email</label>
			          <input placeholder="Email" id="email" name ="email" type="text">
			      </div>
			      <div class="field">
			          <label>Password</label>
			          <input placeholder="Password" type="password" name ="password">
			      </div>
			      
			    </div>
				<button type="submit" class="ui black submit button">Submit</button>
			  </div>
			</div>
		  </div>
		</form>
      </section>
    </section>
     